*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

section{
    margin-top: 10vh;
    margin-left: 30vw;
    background-color: teal;
    height: 80vh;
    width: 40vw;
    border-radius: 5vw;

    padding: 5vh 5vw;
}

h1{
    font-size: 40px;
}
 p:first-of-type{
    margin-top: 20px;
 }
p{
    padding-left: 30px;
    font-size: 17px;
    margin-bottom: 7px;
}

button{
    background-color: peachpuff;
    color: black;
    height: 30px;
    width: 100px;
}

