*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

/* Section Styles */
section{
    margin-top: 10vh;
    margin-left: 30vw;
    background-color: teal;
    height: 80vh;
    width: 40vw;
    border-radius: 5vw;

    padding: 5vh 5vw;
}

/* H1 Styles */

h1{
    font-size: 40px;
}

/* p tag Styles */
 p:first-of-type{
    margin-top: 20px;
 }
p{
    padding-left: 30px;
    font-size: 17px;
    margin-bottom: 7px;
}

/* Button Styles */
button{
    background-color: peachpuff;
    color: black;
    height: 40px;
    width: 100px;

    margin-left: 10vw;
    border-radius: 20px;
}

